*{
    font-family: 'Roboto';
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

h1{
    color: #a6e59b;
    font-size: 120px;
    font-weight: 300;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 60px;
    }
}